<div id="index-product">
    <h1>My lists</h1>
    <div class="container">
      <div class="row product-cards-wrapper">
        <% @lists.each do |list| %>
          <% next if list.user_id != current_user.id %>
          <div>
            <div class="card">
            <%= image_tag("logo.jpg", class: "card-img-top", alt: "")%>
              <div class="card text-center">
                <h5><%= list.name %></h5>
                <a href="<%= product_path(list) %>" class="btn btn-primary">View Details</a>
              </div>
              <%= link_to 'Delete',  product_path(list), data: { turbo_method: :delete, turbo_confirm: 'are u sure?' }, class: "btn btn-outline-secondary" %>
            </div>
          </div>
        <% end %>

      </div>
        <%= link_to "Create product", new_product_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
