<div id="show-product-page">
  <div class="product-img">
    <% if @game.photo.attached? %>
      <%= cl_image_tag @game.photo.key, crop: :fill, style: 'max-width: 500px; max-height: 450px', alt: "dropdown menu" %>
    <% else %>
      <%= image_tag ("logo.jpg"), crop: :fill, style: 'max-width: 500px; max-height: 450px', alt: "dropdown menu" %>
    <% end %>
  </div>

  <div class="product-info">
    <h1><%= @order.product.name.capitalize %></h1>
    <h2><%= link_to @order.product.game.title, game_path(@order.product.game) %> item</h2>

    <h3>Description:</h3>
    <p><%= @order.product.description %></p>

    <h2 class="price">$<%= @order.product.price %></h2>

    <h3>Owner:</h3>
    <p><%= "#{@order.product.user.first_name} #{@order.product.user.last_name}" %></p>

    <div class="buttons">
      <%= link_to "Back", orders_path, class: "btn btn-outline-primary w-100" %>
      <%= link_to 'Delete',  order_path(@order), data: { turbo_method: :delete, turbo_confirm: 'are u sure?' }, class: "btn btn-outline-primary w-100" %>
    </div>
  </div>
</div>
